.console {
    font-size: 1.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom:15rem;
    left: 99%;
    border-radius: 17px;
    padding: .2rem 3rem .2rem .5rem;
    background-color: blueviolet;
}
.console:hover {
    left:initial;
    right:-20px;
}
.console div {width: 100%;
    right:-20px;
}
