* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(7, 11, 22);
  font-family: 'TheBlacklist';

  &.up #World {
    /* background-color: rgb(12, 42, 3); */
  }

  .mire {
    z-index: 3;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid brown;
    border-radius: 50%;
  }

  .mouse {
    z-index: 2;
    position: absolute;
    bottom: 46px;
    right: 10px;
  }

  .coups {
    position: absolute;
    bottom: 50px;
    right: 45px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: .3rem;
    /* height: calc((4 * .3rem) + (3 * 30px)); */
    height: fit-content;
    width: 20px;
    background-color: rgb(37, 37, 37);
    transition-delay: .5s;
    transition-timing-function: ease-out;
    transition-duration: 0;
    transition-property: height;
    .coup {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* border: 2px solid rgb(255, 255, 255); */
      margin-bottom: .3rem;
      transition-delay: .5s;
      transition-timing-function: ease-out;
      transition-duration: 0;
      transition-property: opacity, filter, saturate;
      .coup-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.377);
        border-radius: 9px;
        .num {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          color:white;
        }
      }
    }
  }
  .power {
    position: absolute;
    bottom: 50px;
    right: 18px;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 16px;
    background-color: rgba(15, 217, 32, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding-top: 3px;
    overflow: hidden;
  }
  .power .bull {
    /* background-color: rgba(163, 107, 23, 0.574); */
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  .board {
    position: absolute;
    top: 0px;
    right: 25px;
    /* transform: translate(-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .2rem .2rem .2rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: rgba(240, 248, 255, 0.199);
  }

  .board .lv,
  .board .xp {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .2rem .5rem;
      background-color: rgba(240, 248, 255, 0.199);
      color: black;
      border-bottom-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
      color: rgba(255, 255, 255, 0.699);
    }

    .board .xp {
      &::after {
        margin-left: .2rem;
        content: 'pts';
      }
    }

  .lv {
    margin-left: .2rem;
    &::after {
      margin-left: .2rem;
      content: 'lv';
    }
  }

  .needs {
    position: absolute;
    bottom: 100px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
  }

  .needs .need {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-left:0; */
    background-color: rgba(226, 208, 43, 0.1);
    width: 40px;
    height: 40px;
    margin: .1rem .5rem;
    border-radius: .3rem;
    filter: saturate(0);
    opacity: .5;
    transition-delay: .5s;
    transition-timing-function: ease-out;
    transition-duration: 0;
    transition-property: opacity, filter, saturate;
  }

  /* .needs .need:first-child{
    border-start-end-radius: .3rem;
    background-color: rgba(49, 226, 43, 0.363);
    border-bottom: 0;
    height:initial;
  }
  .needs .need:last-child{
    border-end-end-radius: .3rem;
    border-top: 0;
    background-color: rgba(46, 43, 226, 0.363);
  } */
  .needs .need .need-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
  }

  .needs .need.success {
    /* background-color: rgba(226, 214, 43, 0.603); */
    /* box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.26); */
    opacity: 1;
    filter: saturate(.5);
    transition-delay: 400ms;
    transition-timing-function: ease-out;
    transition-property: opacity, filter, saturate;
    animation: 100ms slidein linear infinite alternate;
  }

  @keyframes slidein {
    0% {
      filter: saturate(1);
      transform: scale(.1);
    }

    50% {
      filter: saturate(0.5);
      transform: scale(.8);
    }

    100% {
      filter: saturate(0);
      transform: scale(.2);
    }
  }

  .needs .need.removed {
    width: 16px;
    height: 16px;
    filter: saturate(1);
  }

  #World {
    z-index: -1;
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
    /* background-color: rgb(44, 74, 150); */
    background: rgb(49, 13, 140);
    background: radial-gradient(circle, rgba(49, 13, 140, 0.9612045501794468) 0%, rgba(7, 11, 22, 1) 100%);
    border-radius: 1rem;

    .reward {
      position: absolute;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 1s;
      /* transition-delay: 1s; */
      transition-property: border, opacity;
      transition-timing-function: ease-out;

    }
    .blackhole,
    .missile {
      position: absolute;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 1s;
      /* transition-delay: 1s; */
      transition-property: border, opacity;
      transition-timing-function: ease-out;

      .visual {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: none;
      }
    }

    .missile {
      .visual {
        border: 2px dotted rgb(255, 0, 0);
        font-size: 20px;
        line-height: 0rem;
        transform: rotate(90deg);

        &[aria-vitesse="18"] {
          border: 2px dotted rgba(255, 0, 0, 0.9);
          /* Rouge vif pour le danger absolu */
        }

        &[aria-vitesse="17"] {
          border: 2px dotted rgba(255, 85, 0, 0.8);
        }

        &[aria-vitesse="16"] {
          border: 2px dotted rgba(255, 170, 0, 0.7);
        }

        &[aria-vitesse="15"] {
          border: 2px dotted rgba(255, 255, 0, 0.7);
          /* Jaune vif pour une vitesse élevée */
        }

        &[aria-vitesse="14"] {
          border: 2px dotted rgba(170, 255, 0, 0.7);
        }

        &[aria-vitesse="13"] {
          border: 2px dotted rgba(85, 255, 0, 0.7);
        }

        &[aria-vitesse="12"] {
          border: 2px dotted rgba(0, 255, 0, 0.7);
          /* Vert vif pour une vitesse modérée */
        }

        &[aria-vitesse="11"] {
          border: 2px dotted rgba(0, 255, 85, 0.7);
        }

        &[aria-vitesse="10"] {
          border: 2px dotted rgba(0, 255, 170, 0.7);
        }

        &[aria-vitesse="9"] {
          border: 2px dotted rgba(0, 255, 255, 0.7);
          /* Cyan vif pour une vitesse plus basse */
        }

        &[aria-vitesse="8"] {
          border: 2px dotted rgba(0, 170, 255, 0.7);
        }

        &[aria-vitesse="7"] {
          border: 2px dotted rgba(0, 85, 255, 0.7);
        }

        &[aria-vitesse="6"] {
          border: 2px dotted rgba(0, 0, 255, 0.7);
          /* Bleu vif pour une vitesse faible */
        }

        &[aria-vitesse="5"] {
          border: 2px dotted rgba(85, 0, 255, 0.7);
        }

        &[aria-vitesse="4"] {
          border: 2px dotted rgba(170, 0, 255, 0.7);
        }

        &[aria-vitesse="3"] {
          border: 2px dotted rgba(255, 0, 255, 0.7);
          /* Magenta vif pour une vitesse très basse */
        }

        &[aria-vitesse="2"] {
          border: 2px dotted rgba(255, 0, 170, 0.7);
        }

        &[aria-vitesse="1"] {
          border: 2px dotted rgba(255, 0, 85, 0.7);
        }

        &[aria-vitesse="0"] {
          border: 2px dotted rgba(255, 255, 255, 0.7);
          /* Blanc pour le calme absolu */
        }

        &.success {
          /* border-radius: .7rem;
          border: 2px dotted rgb(64, 255, 0); */
          border: none;
          transition-duration: 1s;
          transition-property: opacity;
          transition-timing-function: ease-out;
          opacity: 0;
        }

        &.point {
          border-radius: .7rem;
          border: 2px dotted rgb(255, 225, 0);
        }
      }

      &.endtime {
        .visual {
          transform: scale(.5);
        }
      }
      &.rebond {
        .visual {
          border: 6px solid rgba(79, 67, 13, 0.4);
        }
      }

      &.alerte {
        .visual {
          border: 6px solid rgba(170, 93, 5, 0.4)
        }
      }

      &.alerte2 {
        .visual {
          border: 6px solid rgba(170, 5, 5, 0.4);
          opacity: 0;
        }
      }
    }

    .blackhole {
      /* box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); */
      /* background-color: rgb(0, 2, 7); */
      background: radial-gradient(circle, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 60%);
    }

    .planet,
    .base {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .planet .visual,
    .base .visual {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .planet .visual {
      transition-duration: 1s;
      /* transition-delay: 1s; */
      transition-property: border, opacity;
      transition-timing-function: ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
    }

    .planet {
      /* transition-duration: 1s;
      transition-delay: 1s; 
      transition-property: border, opacity;
      transition-timing-function: ease-out; */
    }

    .planet.removed {
      transition-duration: 1s;
      transition-property: opacity;
      transition-timing-function: ease-out;
      opacity: 0;
    }
  }
}